$blue: #7dadb7;

.btn {
  background-color: transparent;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  cursor: pointer;

  // FIRST HEADER BUTTON
  &-header {
    color: $blue;
    position: relative;
    border: 2px solid $blue;
    padding: 1.5rem 2rem;
    transition: background-color .25s,color .25s;
    font-weight: 600;
    font-size: 1rem;
    &:hover {
      background-color: $blue;
      color: #fff;
      &::after {
          right: -78px;
          width: 98px;
      }
      .button__text {
          transform: translate(0,2px)
      }
    }
    &-mobile .btn-text {
        display: inline-block;
        transform: translate(2px,2px)
    }
    &::after {
        content: '';
        position: absolute;
        top: 34px;
        right: -168px;
        width: 188px;
        height: 1px;
        transition: right .25s,width .25s;
        background-color: #117a8b;
        animation: stick-in-left 1.85s cubic-bezier(.7,0,.04,1) .75s;
        transform-origin: left;
    }
  }

  // SECOND BUTTON
  &-subscribe {
    font-size: 1rem;
    color: $blue;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border: 2px solid $blue;
    transition: background-color .25s,color .25s;
    &-white {
      background: #f0f0f0;
    }
    &:hover {
      background-color: $blue;
      color: #fff;
    }
    &:hover .btn-text {
        transform:translate(0,2px);
    }
  }
}

.social {
  width: 64px;
  height: 64px;
  display: block;
  text-align: center;
  font-size: 36px;
}
