/* assets/css/transitions.css */

.page-enter-active,
.page-leave-active {
  transition: opacity .3s ease;
  visibility: visible;
  animation-delay: 0.4s;
  animation-name: fadeInRight;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

