[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=2.1.6"
django-rest-framework = "*"
django-cors-headers = "*"
easy-thumbnails = "*"
djangorestframework-jwt = "*"
dialogflow = "*"
django-rest-elasticsearch = "*"
django-environ = "*"
google-api-core = "*"
pandas = "*"
numpy = "*"
pip = "*"

[requires]
python_version = "3.6"
